<div class="area-center02">

<h1>Editing Company Objective</h1>

<%= render 'form', company_objective: @company_objective %>

<%= link_to 'Show', @company_objective %> |
<%= link_to 'Back', company_objectives_path %>


</div>
