/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

 $green01: #0097A7;
 $green02: #00BCD4;
 $green03: #B2EBF2;

 /*************************
 リセット
 *************************/
 *{
    font-size:13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    color:#333;
}

ul{
    margin:0;
    padding:0;
}
ul li{
    list-style: none;
}
img{
    width:100%;
    height:auto;
}
a:hover{
    transition:0.6s;
    background: transparent;
    color:$green01;
}

header{
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    box-sizing: border-box;
    align-self: stretch;
    align-items: center;
    margin: 0;
    padding: 8px 20px 8px 20px;
    position: relative;
    z-index: 3;
    width: calc(100% - 200px);
    margin-left:200px;

    a{
        color:#0097A7 !important;
        &:hover{
            background: transparent;
            color:$green03 !important;
            text-decoration: none;
        }
    }
}
ul.header-list{
    overflow: auto;
    margin:0;
}
ul.header-list li{
    float:left;
    list-style: none;
    margin: 0 8px;
}
ul.header-list li a{
    display: block;
    padding:5px 8px;
}
.main_logo{
    background:rgb(29, 39, 46);
    padding:18px;
}
.main_logo a{
    font-size:14px;
    width:100%;
    display: block;
    color:#0097A7;
    letter-spacing: 4px;
}


.area-left{
    transition-duration: .2s;
    transition-timing-function: ease-out;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 200px;
    height: 100%;
    max-height: 100%;
    min-height: 430px;
    position: absolute;
    top: 0;
    left: 0;
    background: #151F25;
    color: #fff;
    overflow: visible;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    a{
        color:#fff !important;
        &:hover{
            background: transparent;
            color:$green03 !important;
            text-decoration: none;
        }
    }
}

.area-left02{
    transition-duration: .2s;
    transition-timing-function: ease-out;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 230px;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    border-right:1px solid #e4e4e4;
    padding:20px;
}


.content{
    margin-left: 200px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
    background:#F9F9F9;;
    padding-bottom: 80px;
    width: calc(100% - 200px);
    height: calc(100% - 49px);
    max-height: 100%;
}

.area-center{
    transition-duration: .2s;
    transition-timing-function: ease-out;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: calc(100% - 530px);
    /*width:650px;*/
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    margin-left:230px;
    border-right:1px solid #e4e4e4;
}
/*スクロールバーを消す*/
.area-center::-webkit-scrollbar{
    display:none;
}
.area-center {
    -ms-overflow-style:none;
}

.area-right{
    transition-duration: .2s;
    transition-timing-function: ease-out;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*width: calc(100% - 900px);*/
    width:300px;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: visible;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
}

ul.left-area-nav{
    margin-top:15px;
    padding:0 18px;
}
ul.left-area-nav li a{
    font-size:13px;
    display: block;
    padding:13px 0;
    color:#999 !important;
    text-align:justify !important;
}
ul.left-area-nav li a i{
    color:#fff;
    font-size:13px;
    margin-right:10px;
}
ul.left-area-nav li a:hover{
    color: $green01 !important;
}
ul.left-area-nav li a:hover > i{
    color: $green01 !important;
    transition:0.6s;
}










